<app-header></app-header>
<div class="loginWrapper">
  <div class="loginTitle">Login</div>
  <div class="loginBody">
    <div class="loginSection">
      <div class="loginItem">Email:</div>
      <div class="errorItem floatRight">Error</div>
    </div>
    <div class="loginSection">
      <input class="inputItem" type="text" placeholder="Enter e-mail" />
    </div>
    <div class="loginSection">
      <div class="loginItem">Password:</div>
      <div class="errorItem floatRight">Error</div>
    </div>
    <div class="loginSection">
      <input class="inputItem" type="password" placeholder="Enter password" />
    </div>
    <div class="loginSection loginButtonWrapper">
      <div class="forgetPassword">
        <a href="#"> Forget Password? </a>
      </div>
      <div class="floatRight">
        <input type="submit" value="Login" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
