<form (ngSubmit)="onSave()" #addNewForm="ngForm">
  <div class="col-md-12 newCourseWrapper">
    <div class="newCourse">
      <div class="title">New Course</div>
      <div class="itemSectionTitle">
        <div class="item">Title:</div>
        <div class="errorItem floatRight">*Required</div>
      </div>
      <div class="itemSection">
        <input
          class="inputItem"
          type="text"
          placeholder="Enter Title"
          [(ngModel)]="courseDetail.Title"
          name="courseDetail.Title"
          required
        />
      </div>
      <div class="itemSectionTitle">
        <div class="item">Description:</div>
        <div class="errorItem floatRight">*Required</div>
      </div>
      <div class="itemSection">
        <textarea
          class="inputItem"
          type="textarea"
          placeholder="Add description"
          [(ngModel)]="courseDetail.Description"
          name="courseDetail.Description"
          required
        ></textarea>
      </div>
      <div class="itemSectionTitle inlineWrapper">
        <div class="item disInlineTitle">Duration:</div>
        <div class="errorItem disInline">*Required</div>
      </div>
      <div class="itemSection">
        <input
          class="inputItem normalWidth"
          type="text"
          placeholder="Minutes"
          [(ngModel)]="courseDetail.Duration"
          name="courseDetail.Duration"
          required
        />
      </div>
      <div class="itemSectionTitle inlineWrapper">
        <div class="item disInlineTitle">Date:</div>
        <div class="errorItem disInline">*Required</div>
      </div>
      <div class="itemSection">
        <input
          class="inputItem normalWidth"
          type="date"
          placeholder="Date"
          [(ngModel)]="courseDetail.CreationDate"
          name="courseDetail.CreationDate"
          required
        />
      </div>
      <div class="itemSectionTitle">
        <div class="item">Authors:</div>
        <div class="errorItem floatRight">*Required</div>
      </div>
      <div class="itemSection">
        <input
          class="inputItem"
          type="text"
          placeholder="Authors"
          [(ngModel)]="courseDetail.SelectedAuthors"
          name="courseDetail.SelectedAuthors"
          required
        />
      </div>
      <div class="itemSection buttonWrapper">
        <div class="floatRight">
          <input
            type="submit"
            class="btn btn-primary btnCustom cancel"
            value="Cancel"
          />
          <input
            type="submit"
            class="btn btn-success btnCustom"
            value="Save"
            [disabled]="addNewForm.touched && !addNewForm.valid"
          />
        </div>
        <div class="itemSection errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</form>
